---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <h1 class="text-2xl m-5">Test Astro et Plot (Observablehq)</h1>

  <nav>
    <ul class="flex gap-2 m-5">
      <li>
        <a class="border-2 border-pink-700 p-2 rounded-full" href="/simple"
          >Simple</a
        >
      </li>
      <li>
        <a
          class="border-2 border-pink-700 p-2 rounded-full"
          href="/simplePenguin">Simple Penguin</a
        >
      </li>
      <li>
        <a
          class="border-2 border-pink-700 p-2 rounded-full"
          href="/PenguinAvecFiltre">Penguin avec filtre</a
        >
      </li>
      <li>
        <a
          class="border-2 border-pink-700 p-2 rounded-full"
          href="/PenguinPlusieursFiltres">Penguin avec plusieurs filtres</a
        >
      </li>
    </ul>
  </nav>
</Layout>
