---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import diamonds from "../assets/diamonds.json"; // déplace ton fichier ici
---

<Layout>
    <div class="m-5">
        <h3 class="text-3xl my-5">Simple Diamonds</h3>
        <a class="text-blue-900 my-5" href="/">Retour aux étapes</a>

        <div id="myplot" data-diamonds={JSON.stringify(diamonds)}></div>

        <script>
            import * as Plot from "@observablehq/plot";

            const div = document.querySelector("#myplot");
            const diamonds = JSON.parse(div.dataset.diamonds);

            // Exemple : scatterplot carat (poids) vs price (prix), couleur par "cut"
            const plot = Plot.dot(diamonds, {
                x: "carat",
                y: "price",
                stroke: "cut",
            }).plot();

            div.append(plot);
        </script>
    </div>
</Layout>
