---
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import weather from "../assets/weather.json";
---

<Layout>
    <div class="m-5">
        <h3 class="text-3xl my-5">Simple Weather</h3>
        <a class="text-blue-900 my-5" href="/">Retour aux étapes</a>
        <div id="myplot" data-weather={JSON.stringify(weather)}></div>

        <script>
            import * as Plot from "@observablehq/plot";

            const div = document.querySelector("#myplot");
            const weatherData = JSON.parse(div.dataset.weather);

            const plot = Plot.dot(weatherData, {
                x: "date",
                y: "temp_max",
                stroke: "location",
            }).plot();

            div.append(plot);
        </script>
    </div>
</Layout>
